@import "src/app/shared/material/theme.scss";

header {
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        align-self: flex-start;
    }

    div > * {
        margin: 0.5em;
    }
}

.task-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    padding-bottom: 2em;
}