mat-card {
    margin-bottom: 2em;
}

table {
    width: 100%;
}

::ng-deep .tooltip-pre-line {
    white-space: pre-line !important;
}

header {
    margin-bottom: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
        align-self: center;
    }

    ::ng-deep .mat-form-field-wrapper{
        padding: 0;
    }

    mat-form-field {
        flex: 1;
    }

    mat-form-field, button {
        margin: 0.2em !important;
    }
}