<mat-card *ngIf="dataSource$ | async as dataSource; else loading">
    <header>
        <mat-form-field appearance="outline">
            <mat-label>Pesquisar em todos os campos</mat-label>
            <input matInput [formControl]="search">
            <button mat-icon-button matSuffix *ngIf="search.value" (click)="search.setValue('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <ng-container *ngIf="allocation$ | async as allocation">
            <button mat-raised-button color="primary" class="font-white" *ngIf="allocation.responsability == 'Scrum Master'" 
                (click)="addAllocation()">
                <mat-icon>add</mat-icon>
                Adicionar
            </button>
        </ng-container>
    </header>
    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear *ngIf="dataSource.data.length; else noData">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="responsability">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsabilidade </th>
            <td mat-cell *matCellDef="let element"> {{element.responsability}} </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Remover alocação" (click)="removeAllocation(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Atualizar alocação" (click)="editAllocation(element)">
                    <mat-icon>update</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>

<ng-template #noData>
    <p> Não há alocações no projeto. </p>
</ng-template>

<ng-template #loading>
    <div class="loading-spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>