<mat-card class="task-item" *ngIf="!isBodySimpler">
    <h2 class="font-upper">
        <mat-icon *ngIf="task.type === taskTypeEnum.Bug">bug_report</mat-icon>
        <mat-icon *ngIf="task.type === taskTypeEnum.Epic">all_inbox</mat-icon>
        <mat-icon *ngIf="task.type === taskTypeEnum.Task">assignment</mat-icon>
        <mat-icon *ngIf="task.type === taskTypeEnum.UserStory">book</mat-icon>
        {{task.title}}
        <mat-icon matTooltip="Ver detalhes" (click)="showDetails()">
            view_list
        </mat-icon>
    </h2>

    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Tipo</mat-label>
        <input matInput readonly value="{{ task.type }}">
    </mat-form-field>

    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput readonly value="{{ task.description }}"></textarea>
    </mat-form-field>

    <mat-form-field class="maximize" appearance="outline" *ngIf="userTask$ | async as user">
        <mat-label>Responsável</mat-label>
        <input matInput readonly *ngIf="user.value; else noUser" value="{{ user.value.name }} #{{ user.value.id }}">
        <ng-template #noUser>
            <input matInput readonly>
        </ng-template>
    </mat-form-field>

    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Status</mat-label>
        <input matInput readonly value="{{ task.status }}">
    </mat-form-field>
</mat-card>

<mat-card class="task-item-simpler" *ngIf="isBodySimpler">
    <h2 class="font-upper">
        <mat-icon *ngIf="task.type === taskTypeEnum.Bug">bug_report</mat-icon>
        <mat-icon *ngIf="task.type === taskTypeEnum.Epic">all_inbox</mat-icon>
        <mat-icon *ngIf="task.type === taskTypeEnum.Task">assignment</mat-icon>
        <mat-icon *ngIf="task.type === taskTypeEnum.UserStory">book</mat-icon>
        {{task.title}}
        <mat-icon matTooltip="Ver detalhes" (click)="showDetails()">
            view_list
        </mat-icon>
    </h2>

    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Tipo</mat-label>
        <input matInput readonly value="{{ task.type }}">
    </mat-form-field>

    <div *ngIf="userTask$ | async as user; else notResponsable">
        <span class="user-logo font-upper" *ngIf="user.value">
            {{ user.value.name[0] }}
        </span>
        <p *ngIf="user.value">{{ user.value.name }}</p>
    </div>
    <ng-template #notResponsable>
        <div>
            <mat-icon aria-hidden="false" aria-label="sem responsável">account_circle</mat-icon>
            <p>Sem responsável</p>
            <!--style="font-style: italic;"-->
        </div>
    </ng-template>
</mat-card>