@import "src/app/shared/material/theme.scss";

::-webkit-scrollbar {
    width: 7px;
    overflow-y: scroll;
    background: #cecece;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
}

.task-item {
    width: 320px;
    height: 425px;
    overflow-y: scroll;

    h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.1em;

        background-color: $primary-color;
        color: white;
        text-align: center;

        mat-icon {
            cursor: pointer;
        }
    }

    textarea {
        resize: none;
        height: 150px;
    }
}

.button-container {
    div > button {
        margin: 0.1em;
    }
}