<mat-form-field class="maximize" appearance="outline" *ngIf="usersFiltered$ | async as users">
    <mat-label>
        <ng-content select="[slot=mat-label]"></ng-content>
    </mat-label>
    <input matInput [formControl]="form" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)" (optionSelected)="userOnChange($event)">
        <mat-option *ngFor="let user of users" [value]="user">
            {{user.name}} #{{user.id}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
