<mat-card [formGroup]="form">
    <h1>Alterar senha</h1>
    <mat-form-field appearance="outline" class="maximize">
        <mat-label>Senha atual *</mat-label>
        <input matInput type="password" formControlName="oldPassword">
        <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">O campo é obrigatório</mat-error>
    </mat-form-field>
    <div class="container-fields">
        <mat-form-field appearance="outline">
            <mat-label>Nova senha *</mat-label>
            <input matInput type="password" formControlName="newPassword">
            <mat-error *ngIf="form.get('newPassword')?.hasError('required')">O campo é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmar nova senha *</mat-label>
            <input matInput type="password" formControlName="confirmNewPassword">
            <mat-error *ngIf="form.get('confirmNewPassword')?.hasError('required')">O campo é obrigatório</mat-error>
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="font-white"
        (click)="changePassword()" [disabled]="form.invalid">
        <mat-icon>save</mat-icon> Salvar
    </button>
</mat-card>