<ng-container *ngIf="projectId$ | async as projectId">
    <mat-tab-group [selectedIndex]="activeTab" (selectedTabChange)="handleMatTabChange($event)" animationDuration="0ms">
        <mat-tab label="Backlog">
          <app-list-project-tasks [projectId]="projectId"></app-list-project-tasks>
        </mat-tab>
        <mat-tab label="Quadro">
          <app-show-project-board [projectId]="projectId">
          </app-show-project-board>
        </mat-tab>
        <mat-tab label="Alocações">
          <app-list-project-allocations [projectId]="projectId"></app-list-project-allocations>
        </mat-tab>
        <mat-tab label="Reuniões"> 
          <app-list-project-meetings [projectId]="projectId">
          </app-list-project-meetings>
        </mat-tab>
        <mat-tab label="Sprints">
          <app-list-project-sprints [projectId]="projectId"></app-list-project-sprints>
        </mat-tab>
        <mat-tab label="Sprint Atual">
          <app-current-project-sprint [projectId]></app-current-project-sprint>
        </mat-tab>
      </mat-tab-group>
</ng-container>