.flex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
     align-items: center;
}

.card-404{
    height: 720px;
    background-image: url(../../../assets/back1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  font-size: large;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }
  
  .min-card{  
      justify-content:space-between;
    height: 50%;
    width: 36%;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
    font-size: large;
    font-weight: 500;
    background-image: url(../../../assets/404.png.png);
    background-repeat: no-repeat;
    background-size: cover ;
}

  