<h1 mat-dialog-title>Alocar usuário</h1>
<div mat-dialog-content [formGroup]="form">
    <app-autocomplete-users (selected)="onSelect($event)" *ngIf="userOptions$ | async as users" [users]="users" [formControl]="autocomplete">
        <span slot="mat-label">Selecione</span>
    </app-autocomplete-users>
    <mat-form-field class="maximize" appearance="outline">
        <mat-label>Responsabilidade</mat-label>
        <mat-select formControlName="responsability">
            <mat-option *ngFor="let responsability of responsabilityOptions" [value]="responsability">
                {{ responsability }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="maximize" appearance="outline" *ngIf="user.value as user; else noUser">
        <mat-label>Usuário</mat-label>
        <input matInput value="{{ user.name }} #{{ user.id }}" readonly>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" class="font-white"
        (click)="onSave()" [disabled]="form.invalid">
        Salvar
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
</div>

<ng-template #noUser>
    <p>Você ainda não selecionou um usuário</p>
</ng-template>
