@import "src/app/shared/material/theme.scss";

.user-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px !important;
    height: 35px !important;

    color: white;
    font-size: 14pt;
    background-color: $primary-color;
}

.menu {
    margin-bottom: 0.5em;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

    mat-form-field {
        flex: 1;
    }
}

.delete-button {
    width: 56px;
    height: 56px;
    margin-bottom: 1.5em;
    color: white !important;
}

.user-container {
    height: 350px;
    max-height: 350px;
    overflow-y: auto;
}

.items-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    app-autocomplete-users {
        width: 400px;
    }

    mat-form-field, button {
        margin: 0.5em;
    }
}

mat-card {
    margin-bottom: 2em;
}