@import "src/app/shared/material/theme.scss";

.header {
    margin-bottom: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    button {
        align-self: center;
    }

    div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    div > * {
        margin: 0.5em;
    }

    ::ng-deep .mat-form-field-wrapper{
        margin: 0 !important;
        padding: 0;
    }

    mat-form-field {
        width: 250px;
    }
}

.meeting-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    padding-bottom: 2em;
}